{% extends "base.html" %}
{% block content %}
<h2> Community </h2>
<p>Access all the community business ideas here</p>

<ul>
    {% for idea in ideas %}
    <li>{{ idea }}</li>
    <div class="switch">
        <label>Would you Invest
            <input type="checkbox">
            <span class="lever"></span>
            YES
        </label>
    </div>
    <div>
        <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">keyboard_arrow_up</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">keyboard_arrow_down</i></a>
    </div>
    {% endfor %}
</ul>

{% endblock %}