{% extends "base.html" %}
{% block content %}
<h2><strong>Edit Business Idea</strong></h2>
<div class="row">
    <div class="col s12 m12 ">
        <div class="card blue darken-3">
            <div class="card-content white-text">
                <span class="card-title">Edit Idea</span>
                <p>Update the business idea in the form below</p>
            </div>
            <div class="card-action">
                <form method="POST" action="{{ url_for('edit_ideas', idea_id=idea._id) }}">
                    <label for="title">Idea Title</label>
                    <input type="text" value="{{ idea.title }}" id="title" name="title" minlength="5">
                    <label for="description">Description</label>
                    <input type="text" value="{{ idea.description }}" id="description" name="description"
                        minlength="10">
                    <label for="valuation">Valuation</label>
                    <input type="text" value="{{ idea.valuation }}" id="valuation" name="valuation">
                    <div class="switch">
                        <label>Seeking Investment
                            <input type="checkbox" name="invest" id="invest" value="{{ idea.invest }}">
                            <span class="lever"></span>
                            YES
                        </label>
                    </div>
                    <div class="row l12 m12 s12 center-align">
                        <div class="col">
                            <a href="{{url_for('get_ideas')}}" class="btn waves-effect waves-light red">Cancel<i
                                    class="material-icons right">remove_circle</i></a>

                            <button class="col btn waves-effect waves-light" type="submit" name="sbt_idea">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}