{% extends "base.html" %}
{% block content %}
<h2><strong>About Us</strong></h2>

<div class="row">
    <div class="col s5 push-s5"><img class="responsive-img" src="static/assets/images/pexels-polina-zimmerman-3782134.jpg"
            alt="ideas board image"></div>
    <div class="col s7 pull-s7"><span class="flow-text">
            <em>
                <p>Have you ever had a business idea you though were great until you told someone about it, then you
                    realised I really have
                    not thought this through?</p>
            </em>
            <p>Registered interest gives you the opportunity to put an idea out there and receive feedback allowing you
                to develop and
                evolve the concept through a likeminded community of business-oriented people.</p>
            <p>Feedback is designed to give you the opportunity to put the ideas out there to survey the community
                upvote or downvote your favourite ideas and make friends in an online community.
            </p>
        </span></div>
</div>
<br>
<div class="row">
    <div class="col s5 push-s5"><span class="flow-text">
            <p>Registered Interest is a website to air out your business idea and inspire you to develop the idea
                further and think
                more deeply about how to deliver it or make it unique and successful.
            </p>
            <p>It is the sense test ideas platform where you can thrash out your business idea, receive feedback,
                upvotes and downvotes
                and even find your next business partner or investment.
                Sign up today for a free account and start developing your ideas, or helping others reach their business
                goals and
                dreams.
            </p>

        </span></div>
    <div class="col s7 pull-s7"><img class="responsive-img" src="static/assets/images/pexels-pixabay-270012.jpg" alt="public market image">
    </div>
</div>
<br>
<div class="row center">
    <span><em>Interested in joining our community? click <a href="{{ url_for('register') }}">here</a></em></span>
</div>

{% endblock %}